- table_dom_id = SecureRandom.hex

.table-responsive
  %table.table.table-hover{:id => table_dom_id, :data => {:toggle => 'table',
    :card_view => "false",
    :pagination => 'true',
    :show_pagination_switch => 'true',
    :page_list => "[5, 10, 20, 50, 100, 200]",
    :page_size => current_user.num_table_rows,
    :search => 'false',
    :export_types => "['csv', 'txt', 'excel']",
    :show_export => 'true',
    :show_columns => 'true',
    :state_save => 'true',
    :state_save_id_table => "admin_and_maint_facility_id",
    :state_save_expire => "1y"}, :style => 'width:100%;'}

    %thead
      %tr
        %th.center{:data => {:visible => 'false'}} Object Key
        %th.center{:data => {:sortable => 'true'}} Description

        %th.center{:data => {:sortable => 'true'}} Num. All Vehicles
        %th.center{:data => {:sortable => 'true'}} Num. Active Vehicles
        %th.center{:data => {:sortable => 'true'}} Num. ADA Vehicles
        %th.center{:data => {:sortable => 'true'}} Num. Emergency Contingency Vehicles
        %th.center{:data => {:sortable => 'true'}} Vehicle Type Code
        %th.center{:data => {:sortable => 'true'}} Funding Source
        %th.center{:data => {:sortable => 'true'}} EUL
        %th.center{:data => {:sortable => 'true'}} Manufacture Year
        %th.center{:data => {:sortable => 'true'}} Manufacturer
        %th.center{:data => {:sortable => 'true'}} Model
        %th.center{:data => {:sortable => 'true'}} Year or Last Renewal
        %th.center{:data => {:sortable => 'true'}} Type of Last Renewal
        %th.center{:data => {:sortable => 'true'}} Fuel Type
        %th.center{:data => {:sortable => 'true'}} Vehicle Length
        %th.center{:data => {:sortable => 'true'}} Seating Capacity
        %th.center{:data => {:sortable => 'true'}} Standing Capacity
        %th.center{:data => {:sortable => 'true'}} Total Miles on Active Vehicles
        %th.center{:data => {:sortable => 'true'}} Avg. Lifetime Miles/Active Vehicle
        %th.center{:data => {:sortable => 'true'}} Supports Another Mode
        %th.center{:data => {:sortable => 'true'}} Notes


    %tbody
      - @form.ntd_revenue_vehicle_fleets(current_user.organizations).each do |f|
        %tr
          %td.left= "NO OBJECT KEY"
          %td.left= "I DON'T KNOW"
          %td.left= f.size
          %td.left= 'Num. All Vehicles'
          %td.left= 'Num. Active Vehicles'
          %td.left= 'Num. ADA Vehicles'
          %td.left= 'Num. Emergency Contingency Vehicles'
          %td.left= 'Vehicle Type Code'
          %td.left= 'Funding Source'
          %td.left= 'EUL'
          %td.left= 'Manufacture Year'
          %td.left= 'Manufacturer'
          %td.left= 'Model'
          %td.left= 'Year or Last Renewal'
          %td.left= 'Type of Last Renewal'
          %td.left= 'Fuel Type'
          %td.left= 'Vehicle Length'
          %td.left= 'Seating Capacity'
          %td.left= 'Standing Capacity'
          %td.left= 'Total Miles on Active Vehicles'
          %td.left= 'Avg. Lifetime Miles/Active Vehicle'
          %td.left= 'Supports Another Mode'
          %td.left= 'Notes'


:javascript

  $('#' + '#{table_dom_id}').on('post-body.bs.table', function () {
    $('.transam-popover').popover({
      trigger: 'hover'
    });

    $('.transam-tooltip').tooltip();
  });

  function pcnt_formatter(value) {
    if (value == "") {
      return value;
    } else {
      return format("##0.000", value) + "%";
    }
  };

  $('#' + '#{table_dom_id}').on('click', 'td', function () {
    var path = "#{funding_template_path('xxx')}";
    var row = $(this).parent('tr').attr('id');

    if ($(this).attr('data-field') != 'action-cell') {
      var url = path.replace("xxx", row);
      document.location.href = url;
    }
  });
