- table_dom_id = SecureRandom.hex

.table-responsive
  %table.table.table-hover{:id => table_dom_id, :data => {:toggle => 'table',
    :card_view => "false",
    :pagination => 'true',
    :show_pagination_switch => 'true',
    :page_list => "[5, 10, 20, 50, 100, 200]",
    :page_size => current_user.num_table_rows,
    :search => 'false',
    :export_types => "['csv', 'txt', 'excel']",
    :show_export => 'true',
    :show_columns => 'true',
    :state_save => 'true',
    :state_save_id_table => "rev_vehicles_id",
    :state_save_expire => "1y"}, :style => 'width:100%;'}

    %thead
      %tr
        %th.center{:data => {:sortable => 'true'}} Description

        %th.center{:data => {:sortable => 'true'}} Num. All Vehicles
        %th.center{:data => {:sortable => 'true'}} Num. Active Vehicles
        %th.center{:data => {:sortable => 'true'}} Num. ADA Vehicles
        %th.center{:data => {:sortable => 'true'}} Num. Emergency Contingency Vehicles
        %th.center{:data => {:sortable => 'true'}} Vehicle Type Code
        %th.center{:data => {:sortable => 'true'}} Funding Source
        %th.center{:data => {:sortable => 'true'}} EUL
        %th.center{:data => {:sortable => 'true'}} Manufacture Year
        %th.center{:data => {:sortable => 'true'}} Manufacturer
        %th.center{:data => {:sortable => 'true'}} Model
        %th.center{:data => {:sortable => 'true'}} Year or Last Renewal
        %th.center{:data => {:sortable => 'true'}} Type of Last Renewal
        %th.center{:data => {:sortable => 'true'}} Fuel Type
        %th.center{:data => {:sortable => 'true'}} Vehicle Length
        %th.center{:data => {:sortable => 'true'}} Seating Capacity
        %th.center{:data => {:sortable => 'true'}} Standing Capacity
        %th.center{:data => {:sortable => 'true'}} Total Miles on Active Vehicles
        %th.center{:data => {:sortable => 'true'}} Avg. Lifetime Miles/Active Vehicle
        %th.center{:data => {:sortable => 'true'}} Supports Another Mode
        %th.center{:data => {:sortable => 'true'}} Notes


    %tbody
      -#Get the organizations from the filter not the current user
      - @form.ntd_revenue_vehicle_fleets(Organization.where(id: @organization_list)).each do |f|
        %tr
          %td.left= "#{f.manufacture_code}-#{f.model_number}-#{f.manufacture_year}"
          %td.left= f.size
          %td.left= f.num_active
          %td.left= f.num_ada_accessible
          %td.left= f.num_emergency_contingency
          %td.left= f.vehicle_type.code
          %td.left= f.funding_source
          %td.left= f.useful_life_remaining
          %td.left= f.manufacture_year
          %td.left= f.manufacture_code.code
          %td.left= f.model_number
          %td.left= f.renewal_year
          %td.left= f.renewal_type
          %td.left= f.fuel_type.code
          %td.left= f.vehicle_length
          %td.left= f.seating_capacity
          %td.left= f.standing_capacity
          %td.left= f.total_active_miles_in_period
          %td.left= f.avg_lifetime_active_miles
          %td.left= f.additional_fta_mode
          %td.left

:javascript

  $('#' + '#{table_dom_id}').on('post-body.bs.table', function () {
    $('.transam-popover').popover({
      trigger: 'hover'
    });

    $('.transam-tooltip').tooltip();
  });

  function pcnt_formatter(value) {
    if (value == "") {
      return value;
    } else {
      return format("##0.000", value) + "%";
    }
  };