= render layout: 'form' do |f|
  %fieldset
    %legend Agency Information
    = f.input :section_5307_admin
    = f.input :section_5307_operating_assistance
    = f.input :section_5307_preventative_maintenance
    = f.input :section_5307_associated_capital_maintenance
    = f.input :section_5307_capital_cost_of_contracting
