= render layout: 'form' do |f|
  %fieldset
    %legend Revenue Vehicle Inventory
    = f.input :operator_salary_and_wages
    = f.input :vehicle_maintenance_salary_and_wages
    = f.input :other_salary_and_wages

  %fieldset
    %legend Casualty & Liability
    = f.input :services
    = f.input :purchased_transportation
    = f.input :fuel_and_lubricants
    = f.input :parts_and_repairs
    = f.input :other_material_and_supplies
    = f.input :utilities

  %fieldset
    %legend Non-Personal Services
    = f.input :taxes
    = f.input :interest
    = f.input :lease_and_rentals
    = f.input :expense_transfers
    = f.input :depreciation_private_capital
    = f.input :miscellaneous
    = f.input :allowance_for_profit

  %fieldset
    %legend Revenues
    = f.input :passenger_revenue
    = f.input :special_reimbursement
    = f.input :charter_contract_revenue
    = f.input :non_user_revenue
    = f.input :non_stoa_revenue

  %fieldset
    %legend Local Match
    = f.input :donated_local_match

  %fieldset
    %legend Adjustments
    = f.input :audit_adjustment
    = f.input :cash_adjustment
