:ruby
  table_dom_id = SecureRandom.hex


#asset_fleets_table_actions.btn-toolbar
  = render :partial => "asset_fleets/index_actions"

.table-responsive
  %table.table.table-condensed.table-hover{:id => table_dom_id,
    :data => {:toggle => 'table',
    :url => asset_fleets_path(:format => :json),
    :card_view => "false",
    :pagination => 'true',
    :sort_order => 'asc',
    :sortable => 'true',
    :side_pagination => 'server',
    :show_pagination_switch => 'true',
    :page_number => '1',
    :page_list => "[5, 10, 20, 50, 100, 200]",
    :page_size => current_user.num_table_rows,
    :search => 'false',
    :show_columns => 'true',
    :toolbar => "#table_actions",
    :show_export => 'true',
    :row_style => 'row_style',
    :click_to_select => 'true',
    :query_params => "query_params",
    :show_export => 'true',
    :export_types => "['csv', 'txt', 'excel']",
    :state_save => 'true',
    :state_save_id_table => "asset_fleetsid",
    :state_save_expire => "1y",
    :maintain_selected => 'true',
    :single_select => 'false'}}



    %thead
      %tr
        %th.center{:data => {:field => 'object_key', :visible => 'false'}} Object Key
        - if @organization_list.count > 1
          %th.left{:data => {:field => 'organization',:sortable => 'true'}} Agency
        %th.center{:data => {:field => 'ntd_id', :sortable => 'true'}} RVI/SV ID
        %th.center{:data => {:field => 'agency_fleet_id', :sortable => 'true'}} Agency Fleet ID
        %th.center{:data => {:field => 'asset_type_id', :sortable => 'true'}} Type
        %th.center{:data => {:field => 'asset_subtype_id', :sortable => 'true'}} Subtype
        %th.center{:data => {:field => 'manufacturer_id', :sortable => 'true'}} Manufacturer
        %th.center{:data => {:field => 'manufacture_year', :sortable => 'true'}} Manufacture Year
        %th.center{:data => {:field => 'fta_vehicle_type_id', :sortable => 'true'}} FTA Vehicle Type
        %th.center{:data => {:field => 'fuel_type_id', :sortable => 'true'}} Fuel Type
        %th.center{:data => {:field => 'primary_fta_mode_type_id', :sortable => 'true'}} Primary Mode
        %th.center{:data => {:field => 'primary_fta_service_type_id', :sortable => 'true'}} Primary TOS
        %th.right{:data => {:field => 'total_count', :sortable => 'true'}} Assets
        %th.right{:data => {:field => 'active_count', :sortable => 'true'}} Active Assets
        %th.center{:data => {:field => 'homogeneous', :sortable => 'true', :formatter => 'boolean_formatter'}} Homogeneous
        %th.center{:data => {:field => 'active', :visible => 'false', :sortable => 'true', :formatter => 'boolean_formatter'}} Active

:javascript
  $(document).ready(function() {
    $('#' + '#{table_dom_id}').bootstrapTable('resetWidth');
  });

  var path = '#{asset_fleet_path("x")}';
  function row_style(row, index) {
    return {
      classes: 'action-path'
    };
  };

  $('#' + '#{table_dom_id}').on('click-row.bs.table', function (e, row, $element) {
    var url = path.replace("x", row['object_key']);
    document.location.href = url;
  }).on('post-body.bs.table', function () {
    $('.transam-popover').popover({
      trigger: 'hover'
    });

    $('.transam-tooltip').tooltip();
  });

  $(window).resize(function() {
    $('#' + '#{table_dom_id}').bootstrapTable('resetView');
  });

  // var org_filter = #{@org_filter || []};
  // var fiscal_year_filter = #{@fiscal_year_filter || []};
  // var capital_project_flag_filter = #{@capital_project_flag_filter || []};
  // var capital_project_type_filter = #{@capital_project_type_filter || []};
  // var asset_subtype_filter = #{@asset_subtype_filter || []};

  // function query_params(params) {
  //   if(org_filter.length > 0) {
  //     params.org_filter = org_filter;
  //   }
  //
  //   if(fiscal_year_filter.length > 0) {
  //     params.fiscal_year_filter = fiscal_year_filter;
  //   }
  //
  //   if(capital_project_flag_filter.length > 0) {
  //     params.capital_project_flag_filter = capital_project_flag_filter;
  //   }
  //
  //   if(capital_project_type_filter.length > 0) {
  //     params.capital_project_type_filter = capital_project_type_filter;
  //   }
  //
  //   if(asset_subtype_filter.length > 0) {
  //     params.asset_subtype_filter = asset_subtype_filter;
  //   }
  //
  //   return params;
  // }

  var formatMoney = function(n, c, d, t) {
    var c = isNaN(c = Math.abs(c)) ? 0 : c,
    d = d == undefined ? "." : d,
    t = t == undefined ? "," : t,
    s = n < 0 ? "-" : "",
    i = parseInt(n = Math.abs(+n || 0).toFixed(c)) + "",
    j = (j = i.length) > 3 ? j % 3 : 0;
    return s + (j ? i.substr(0, j) + t : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : "");
  }

  function boolean_formatter(value) {
    if (value) {
      // add hidden div for exporting
      return '<i class="fa fa-check"></i><div style = "visibility: hidden;">Yes</div>';
    } else {
      return '<div style = "visibility: hidden;">No</div>';
    }
  }

  function currency_formatter(value) {
    return "$" + formatMoney(value);
  }



