%ul.nav.nav-tabs
  %li.active
    %a{:href => "#fleets", :data =>{:toggle => 'tab'}}
      Fleet Manager
  %li
    %a{:href => "#ntd", :data =>{:toggle => 'tab'}}
      NTD Reports

.tab-content
  .tab-pane.fade.in.active#fleets
    %ul.nav.nav-tabs
      - AssetFleetType.all.each do |fleet_type|
        - asset_type = AssetType.find_by(class_name: fleet_type.class_name)
        %li
          %a{:href => "##{fleet_type.class_name.underscore}", :data =>{:toggle => 'tab'}}
            %i{:class => "#{asset_type.display_icon_name} fa-fw"}
            = asset_type

    .tab-content
      - AssetFleetType.all.each do |fleet_type|
        .tab-pane.fade{id: fleet_type.class_name.underscore}
          - view_component = "#{fleet_type.class_name.underscore}_index_table"
          - if lookup_context.template_exists?(view_component, 'asset_fleets', true)
            = render :partial => "asset_fleets/#{view_component}"

  .tab-pane.fade#ntd
    .col-sm-12.col-md-10.col-md-offset-1
      .row
        .col-md-12
          = render :partial => 'index_table', :locals => {:forms => @forms}
